   @Author: v sanjay kumar<br>
   @Date: 2024-07-19 10:00:30<br>
   @Last Modified by: v sanjay kumar<br>
   @Last Modified time: 2024-07-19 10:00:30<br>
   @Title : Crud operations by using the rds instance<br>

In [11]:
import pyodbc
import sys
import boto3
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

In [3]:
load_dotenv()
conn = boto3.client('rds', aws_access_key_id= os.getenv('AWS_ACCESS_KEY_ID'),
                     aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
                     region_name= os.getenv('AWS_DEFAULT_REGION'))

                                    connect to the rds instance

In [4]:

def connect_to_mssql(endpoint, port, dbname, username, password):
    connection_string = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={endpoint},{port};DATABASE={dbname};UID={username};PWD={password}"
    try:
        conn = pyodbc.connect(connection_string)
        print("Connection successful!")
        return conn
    except Exception as e:
        print(f"Error connecting to MSSQL: {e}")
        return None
    

endpoint="sanjaydb1.c9m2q6owaqjl.ap-south-1.rds.amazonaws.com"
port=1433
dbname="sanjaydb"
username="admin"
password="Sanjay-1245"

try:
    conn=connect_to_mssql(endpoint,port,dbname,username,password)

except Exception as e:
    print(e)

Connection successful!

                                           create the table

In [96]:
def create_table(conn):
    cursor = conn.cursor()
    create_table_sql = """
    CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        FirstName NVARCHAR(50),
        LastName NVARCHAR(50),
        HireDate DATETIME,
        Salary DECIMAL(18, 2)
    );
    """
    try:
        cursor.execute(create_table_sql)
        conn.commit()
        print("Table created successfully!")
    except Exception as e:
        print(f"Error creating table: {e}")
    finally:
        cursor.close()

if conn:
        create_table(conn)

Table created successfully!

                                        insert the data into table

In [98]:
def insert_multiple_data(conn, employee_data):
    cursor = conn.cursor()
    insert_sql = """
    INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
    VALUES (?, ?, ?, ?);
    """
    try:
        cursor.executemany(insert_sql, employee_data)
        conn.commit()
        print("Data inserted successfully!")
    except Exception as e:
        print(f"Error inserting data: {e}")
    finally:
        cursor.close()

if conn:
    employee_data = [
        (1, 'sanjay', 'kumar', 70000.00),
        (2, 'raju', 'kumar', 90000.00),
        (3, 'girish', 'Nekhar', 25000.00),
    ]
    insert_multiple_data(conn, employee_data)

Data inserted successfully!

                                            read the data from the table

In [99]:
def read_data(conn):
    cursor = conn.cursor()
    select_sql = """
    SELECT EmployeeID, FirstName, LastName, Salary
    FROM Employees;
    """
    try:
        cursor.execute(select_sql)
        rows = cursor.fetchall()
        
        # Print the results
        for row in rows:
            print(row[0], row[1],row[2],row[3])
    except Exception as e:
        print(f"Error reading data: {e}")
    finally:
        cursor.close()

if conn:
    read_data(conn)

1 sanjay kumar 70000.00
2 raju kumar 90000.00
3 girish Nekhar 25000.00
4 sanjay kumar 70000.00
5 raju kumar 90000.00
6 girish Nekhar 25000.00

                                        update the data into the table

In [92]:
def update_employee(conn, employee_id, first_name=None, last_name=None, salary=None):
    cursor = conn.cursor()
    update_sql = "UPDATE Employees SET "
    updates = []
    
    if first_name is not None:
        updates.append(f"FirstName = '{first_name}'")
    if last_name is not None:
        updates.append(f"LastName = '{last_name}'")
    if salary is not None:
        updates.append(f"Salary = {salary}")

    if updates:
        update_sql += ", ".join(updates)
        update_sql += f" WHERE EmployeeID = {employee_id};"

        try:
            cursor.execute(update_sql)
            conn.commit()
            print("Employee data updated successfully!")
        except Exception as e:
            print(f"Error updating employee data: {e}")
        finally:
            cursor.close()
    else:
        print("No updates provided.")
    
        

# Example usage
if conn:
    update_employee(conn, employee_id=6, first_name="roja",last_name="cr" ,salary=65000.00)

Employee data updated successfully!

                                            drop the colome

In [69]:
def insert_table(conn):
    cursor = conn.cursor()
    insert_sql = """
    ALTER TABLE Employees
    DROP COLUMN [HireDate];
    """
    try:
        cursor.execute(insert_sql)
        conn.commit()
        print("successfully!")
    except Exception as e:
        print(f"Error inserting data: {e}")
    finally:
        cursor.close()

if conn:
    insert_table(conn)

successfully!

                                          delete the data from table

In [94]:
def delete_employee(conn):
    cursor = conn.cursor()
    delete_sql = f"DELETE FROM Employees WHERE EmployeeID =4;"

    try:
        cursor.execute(delete_sql)
        conn.commit()
        print("Employee data deleted successfully!")
    except Exception as e:
        print(f"Error deleting employee data: {e}")
    finally:
        cursor.close()


if conn:
    delete_employee(conn)

Employee data deleted successfully!

                                         delete the table from the database

In [95]:
def delete_table(conn):
    cursor = conn.cursor()
    delete_table_sql = "DROP TABLE  Employees;"

    try:
        cursor.execute(delete_table_sql)
        conn.commit()
        print("Table deleted successfully!")
    except Exception as e:
        print(f"Error deleting table: {e}")
    finally:
        cursor.close()

if conn:
    delete_table(conn)

Table deleted successfully!

                                              create engine

In [24]:
engine = create_engine('mssql+pyodbc://admin:Sanjay-1245@sanjaydb1.c9m2q6owaqjl.ap-south-1.rds.amazonaws.com/sanjaydb?driver=ODBC+Driver+17+for+SQL+Server')

                                            Import The CSV File To mssql

In [16]:


# Read CSV file into DataFrame
df = pd.read_csv('anual.csv')

# Bulk insert into SQL Server table
df.to_sql('anulal', engine, if_exists='append', index=False)

print("Bulk data imported successfully from anual.csv")

Bulk data imported successfully from anual.csv

                                                    Export the data

In [26]:
# Use the SQLAlchemy engine with pandas
query = "SELECT * FROM anulal"
df = pd.read_sql(query, engine)
print(df)
df.to_csv('exported_data.csv', index=False)

    Year Industry_aggregation_NZSIOC  Industry_code_NZSIOC  \
0   2023                     Level 1                 99999
1   2023                     Level 1                 99999
2   2023                     Level 1                 99999
3   2023                     Level 1                 99999
4   2023                     Level 1                 99999
5   2023                     Level 1                 99999
6   2023                     Level 1                 99999
7   2023                     Level 1                 99999
8   2023                     Level 1                 99999
9   2023                     Level 1                 99999
10  2023                     Level 1                 99999
11  2023                     Level 1                 99999
12  2023                     Level 1                 99999
13  2023                     Level 1                 99999
14  2023                     Level 1                 99999
15  2023                     Level 1                 99999

   Industry_name_NZSIOC               Units Variable_code  \
0        All industries  Dollars (millions)           H01
1        All industries  Dollars (millions)           H04
2        All industries  Dollars (millions)           H05
3        All industries  Dollars (millions)           H07
4        All industries  Dollars (millions)           H08
5        All industries  Dollars (millions)           H09
6        All industries  Dollars (millions)           H10
7        All industries  Dollars (millions)           H11
8        All industries  Dollars (millions)           H12
9        All industries  Dollars (millions)           H13
10       All industries  Dollars (millions)           H14
11       All industries  Dollars (millions)           H19
12       All industries  Dollars (millions)           H20
13       All industries  Dollars (millions)           H21
14       All industries  Dollars (millions)           H22
15       All industries  Dollars (millions)           H23

                                        Variable_name      Variable_category  \
0                                        Total income  Financial performance
1     Sales, government funding, grants and subsidies  Financial performance
2                   Interest, dividends and donations  Financial performance
3                                Non-operating income  Financial performance
4                                   Total expenditure  Financial performance
5                              Interest and donations  Financial performance
6                                      Indirect taxes  Financial performance
7                                        Depreciation  Financial performance
8                             Salaries and wages paid  Financial performance
9                            Redundancy and severance  Financial performance
10  Salaries and wages to self employed commission...  Financial performance
11             Purchases and other operating expenses  Financial performance
12                             Non-operating expenses  Financial performance
13                                     Opening stocks  Financial performance
14                                     Closing stocks  Financial performance
15                          Surplus before income tax  Financial performance

     Value                             Industry_code_ANZSIC06
0   930995  ANZSIC06 divisions A-S (excluding classes K633...
1   821630  ANZSIC06 divisions A-S (excluding classes K633...
2    84354  ANZSIC06 divisions A-S (excluding classes K633...
3    25010  ANZSIC06 divisions A-S (excluding classes K633...
4   832964  ANZSIC06 divisions A-S (excluding classes K633...
5    55267  ANZSIC06 divisions A-S (excluding classes K633...
6     7426  ANZSIC06 divisions A-S (excluding classes K633...
7    30814  ANZSIC06 divisions A-S (excluding classes K633...
8   147663  ANZSIC06 divisions A-S (excluding classes K633...
9      269  ANZSIC06 divisions A-S (excluding classes K633...
10    1639  ANZSIC06 divisions A-S (excluding classes K633...
11  566979  ANZSIC06 divisions A-S (excluding classes K633...
12   23176  ANZSIC06 divisions A-S (excluding classes K633...
13   80778  ANZSIC06 divisions A-S (excluding classes K633...
14   88197  ANZSIC06 divisions A-S (excluding classes K633...
15  105450  ANZSIC06 divisions A-S (excluding classes K633...